<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1 class="heading">Expense Management Page</h1>

    <div class="container" ng-controller="ExpensePageController">
        <!--<button class="btn btn-default" style="margin-top:10px; margin-bottom:50px;" data-toggle="modal" data-target="#myModal">Add Expense</button>-->
        <button class="btn btn-default" style="margin-top:10px; margin-bottom:50px;" ng-click="Open('lg')" ng-show="!isApprover">Add Expense</button>
        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding" height="50%">

                <table id ="dt_basic" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th data-class="expand"> Category</th>
                            <th> Project</th>
                            <th ng-show="(isAdmin || isApprover)"> AddedBy</th>
                            
                            <th> Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th ng-show="(isAdmin || isApprover)">Change Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="expense in expenseList" ng-click="goToViewPage(expense,$index)">
                            <td>{{expense.Id}}</td>
                            <td>{{expense.Category}}</td>
                            <td>{{expense.Project}}</td>
                            <td ng-show="(isAdmin || isApprover)">{{expense.AddedBy}}</td>
                            <td>{{expense.Date}}</td>
                            <td>{{expense.Amount}}</td>
                            <td>{{expense.Status}}</td>
                            <td ng-show="(isAdmin || isApprover)">
                                <select ng-options="stat for stat in expense.availableStatus" ng-model="expense.Status" ng-click="setSelectedStatus($event);">
                                    <!--<select ng-options="stat.value for stat in expenseList[$index].availableStatus" ng-model="expense.availableStatus.Selected" ng-click="setSelectedStatus($event)">-->
                                    <option value="">Please Select</option>
                                </select>
                            </td> 
                        </tr> 
                    </tbody>
                </table>
            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->
        <!-- pop up-->

        <script type="text/ng-template" id="addexpenseModal.html">
            
                    <form name="expenseform">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Expenses</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                            <label for="category">Category</label>
                                            <select class="form-control" id="category" name="expenseCategory" ng-model="data.selCategory" ng-options="category.value for category in expenseCategories"
                                                    required>
                                                <option value="">Please Select</option>
                                            
                                            </select>
                                            <span ng-show="(expenseform.expenseCategory.$invalid && submitted)" class="help-block"> <i class="fa fa-warning"></i>*</span>                                    
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <label for="amount">Amount</label>
                                                <input type="number" class="form-control" id="amount" name="expenseamnt" ng-model="data.amnt" required />
                                                <span class="help-block" ng-show="expenseform.expenseamnt.$error.required && submitted"> <i class="fa fa-warning"></i>*</span> 
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="currency">currency</label>
                                                <select class="form-control" id="currency" ng-model="currency" ng-options="c.name for c in currencies">
                                                  
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="project">Project</label>
                                        <select class="form-control" id="project" ng-options="proj.value for proj in projects" ng-model="data.selProject">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="reimburse">Client Reimbursement</label>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="reimburse" value="yes" ng-checked="default_reimburse">
                                                        Yes
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="reimburse" value="no" ng-checked="!default_reimburse">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="date">Date</label>
                                        
                                        <input type="text" class="form-control"
                                               datepicker-popup="mediumDate"
                                               is-open="valuationDatePickerIsOpen"
                                               ng-click="valuationDatePickerOpen()"
                                               ng-model="valuationDate" />
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="file" class="control-label">Input File</label>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <input type="file" name="file" file-model="file" onchange="this.parentNode.nextSibling.value = this.value">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="approver">Approver</label>
                                        <select class="form-control" id="approver" name="expenseapprover" ng-model="data.selApprover"  ng-options="app.value for app in approvers" required>
                                            <option value="">Please Select</option>
                                          
                                        </select>
                                        <span ng-show="(expenseform.expenseapprover.$invalid && submitted)" class="help-block"> <i class="fa fa-warning"></i>*</span>   
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="description">Description</label>
                                        <textarea name="description" class="form-control custom scroll" ng-model="data.desc"></textarea>
                                       </div>
                                </div>
                                <div class="row" ng-show="isAdmin">
                                    <div class="col-lg-6">
                                        <label for="onbehalf">On behalf of</label>
                                        <select class="form-control" id="onbehalf" name="behalfOf" ng-model="data.selOnbehalf" ng-options="user.value for user in users" required>
                                            <option value="">Please Select</option>
                                        </select>
                                        <span ng-show="(expenseform.behalfOf.$invalid && submitted && isAdmin)" class="help-block"> <i class="fa fa-warning"></i>*</span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" ng-click="ok(expenseform.$valid)">Add</button>
                                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
             
        </script>

        <!-- end pop up-->
    </div>
    <script src="../js/DataTable.js"></script>
      
</body>
</html>
